 
        body{
            background-color: aqua;
        }
       h1{
            color:brown
        }
       p{
        color: blue;
        font-size: large;
        font-family: cursive;
            
         }
        h2{
            color: blueviolet;
        }
      
    
